html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  background-color: #000;
  touch-action: none; /* 整体禁止 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* 关键：给面板开绿灯 */
#memory-panel, #memory-panel * {
  touch-action: auto !important; /* 允许面板内正常触摸 */
  -webkit-user-select: text !important; /* 允许输入框选文字 */
  user-select: text !important;
}

canvas { display: block; }